@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: rgba(240, 232, 232, 0.901);
    font-size: 18px;
    font-family:'Playfair Display', serif;
}

/*///////////////  Everything Navbar  /////////////////*/

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.87);
}

.navbar p {
    font-size: 1.1em;
    letter-spacing: .1em;
    padding: 0 12px;
    color: rgba(255, 166, 0, 0.86);
}

.navbar ul {
    list-style-type: none;
    margin: auto;
}

.navbar a {
    font-size: 1.2em;
    color: rgba(99, 162, 217, 0.911);
    text-decoration: none;
}

.navbar a:hover,
.navbar a:focus {
    color: rgba(99, 162, 217, 0.545);
    border-bottom: 2px rgba(245, 245, 245, 0.77) outset;
    border-top: 2px rgba(245, 245, 245, 0.77) outset;
    padding: .2em;
    cursor: pointer;
}

.navbar a:focus {
    outline: rgba(212, 200, 200, 0.2);
}

/*/////////////  Carousel styles  /////////////////////*/



/*/////////////  Main Grid CSS  /////////////////////*/
